@import "./variables";

.central {
    width: 70%;
    padding-left: 20px;
    p {
      margin-bottom: 40px;
    }
    .parrafo {
      width: 100%;
      padding-right: 20px;
    }
    .row {
      margin: 20px 0;
      padding: 15px;
      background-color: $color-white;

      &-item {
        width: 100%;
        padding: 0 20px;
      }

      li {
        margin-bottom: 10px;
      }
    }
   
  }