.input{
    padding: 20px;
    border: none;
    &:focus{
        outline: none;
    }
    &::placeholder{
        color: #9ea0a7;
   
    }
}

.btn{ 
    border: none;
    &:hover{
        border: 1px solid #9ea0a7;
        opacity: 0.5;
        overflow: hidden;
    }  
}