* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: "Poppins";
}

body {
  font-size: 1.4rem;
  font-family: "Poppins";
  color: #334680;
  background-color: #f6f7fb;
}

li {
  list-style: none;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.wraper {
  width: 1200px;
  margin: auto;
}

i {
  width: 15px;
  color: #b9bdcf;
  margin: 0 20px;
}

h1 {
  font-size: 2.4rem;
}

h2,
h4,
h6,
p {
  font-family: "Roboto";
}

h2 {
  font-size: 2.4rem;
  font-weight: 700;
}

h4 {
  font-size: 1.8rem;
  font-weight: 400;
}

h5 {
  font-size: 1.4rem;
  font-weight: 500;
}

h6 {
  font-size: 1.2rem;
  font-weight: 700;
}

p {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.family-poppins {
  font-family: "Roboto";
}

h1 {
  padding: 40px 0;
  font-weight: bold;
}

h1 span {
  font-weight: normal;
}

.input {
  padding: 20px;
  border: none;
}

.input:focus {
  outline: none;
}

.input::-webkit-input-placeholder {
  color: #9ea0a7;
}

.input:-ms-input-placeholder {
  color: #9ea0a7;
}

.input::-ms-input-placeholder {
  color: #9ea0a7;
}

.input::placeholder {
  color: #9ea0a7;
}

.btn {
  border: none;
}

.btn:hover {
  border: 1px solid #9ea0a7;
  opacity: 0.5;
  overflow: hidden;
}

.aside {
  width: 33.33%;
  margin: 20px 0 0;
  padding: 20px 20px 20px 0;
}

.aside > input {
  margin-left: 30px;
}

.aside .location {
  margin: 20px 0;
  padding: 20px 0;
}

.aside .location h2 {
  margin-bottom: 20px;
}

.aside .search {
  background-color: #ffffff;
  position: relative;
  left: 0%;
  right: 0%;
  top: 0%;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.aside .search .input {
  width: 100%;
}

.aside i {
  padding-top: 20px;
}

.aside li {
  margin: 20px 0 0 20px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: "Poppins";
}

body {
  font-size: 1.4rem;
  font-family: "Poppins";
  color: #334680;
  background-color: #f6f7fb;
}

li {
  list-style: none;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.wraper {
  width: 1200px;
  margin: auto;
}

i {
  width: 15px;
  color: #b9bdcf;
  margin: 0 20px;
}

h1 {
  font-size: 2.4rem;
}

h2,
h4,
h6,
p {
  font-family: "Roboto";
}

h2 {
  font-size: 2.4rem;
  font-weight: 700;
}

h4 {
  font-size: 1.8rem;
  font-weight: 400;
}

h5 {
  font-size: 1.4rem;
  font-weight: 500;
}

h6 {
  font-size: 1.2rem;
  font-weight: 700;
}

p {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.family-poppins {
  font-family: "Roboto";
}

.banner {
  width: 100%;
  position: relative;
  margin: 20px 0;
}

.banner .figure img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.banner form {
  width: 100%;
}

.banner .search {
  background-color: #ffffff;
  width: 70%;
  position: absolute;
  left: 15%;
  right: 15%;
  top: 25%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
}

.banner .search .input {
  width: 75%;
}

.banner .search .btn-search {
  background-color: #1E86FF;
  padding: 5px;
  width: 25%;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 10px;
  margin-right: 2px;
}

.central {
  width: 70%;
  padding-left: 20px;
}

.central p {
  margin-bottom: 40px;
}

.central .parrafo {
  width: 100%;
  padding-right: 20px;
}

.central .row {
  margin: 20px 0;
  padding: 15px;
  background-color: #ffffff;
}

.central .row-item {
  width: 100%;
  padding: 0 20px;
}

.central .row li {
  margin-bottom: 10px;
}

.central-details .days, .central-details .city {
  padding: 10px 0;
}

.central-details .days i, .central-details .city i {
  margin-left: 0;
}

.central-details ul {
  margin-bottom: 20px;
}

.central-details .row-detail {
  margin-bottom: 20px;
}

.central-details .row-detail .row-figure img {
  width: 50px;
  height: 50px;
  border-radius: 4px;
}

.central-details .row-detail .item-details {
  padding: 0 20px;
}

.central-details h2 {
  padding-right: 20px;
}

.navigator {
  width: 100%;
  margin-top: 40px;
}

.navigator ul {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navigator .is-active {
  background-color: #334680;
  border: #334680;
  color: #ffffff;
}

.navigator .final {
  margin-right: 0;
}

.navigator a {
  padding: 15px 15px;
  border: 1px solid #b9bdcf;
  border-radius: 4px;
  margin: 0 15px;
}

.navigator a:hover {
  cursor: pointer;
  color: #334680;
  border: 1px solid #334680;
}

.navigator a:active {
  background-color: #334680;
  border: #334680;
  color: #ffffff;
}

.navigator a:focus {
  background-color: #334680;
  border: #334680;
  color: #ffffff;
}

.footer {
  width: 100%;
  padding: 40px;
  margin-top: 40px;
}

.footer p {
  font-family: "Montserrat";
  text-align: center;
  color: #b9bdcf;
  font-size: 1rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main {
  margin-bottom: 40px;
  padding-left: 0;
}

.main .btn-item {
  font-family: "Roboto";
  color: #334680;
  border: 1px solid #334680;
  border-radius: 4px;
  padding: 8px 10px;
}

.main .btn-item:hover {
  border: 1px solid #9ea0a7;
  opacity: 0.5;
  overflow: hidden;
}

.main .city h6,
.main .days h6 {
  font-weight: 400;
  display: inline;
  color: #b9bdcf;
}

.main .city i,
.main .days i {
  margin: 0 4px 0 20px;
}

.main .link_back i {
  padding-top: 0;
}
/*# sourceMappingURL=main.css.map */